---
import Layout from '../components/Layout.astro';
import FeedbackForm from '../components/FeedbackForm.astro';
---

<Layout title="Astro Quickstart">
  <main>
    <div class="header">
      <div class="logo">
        <img
          src="https://res.cloudinary.com/dzkoxrsdj/image/upload/v1652291187/astro_1_c1yk5a.png"
        />
      </div>
    </div>
    <FeedbackForm />
    <footer class="footer">
      Made with <a href="https://ntl.fyi/3P0dwBi"
        ><img
          src="https://res.cloudinary.com/dzkoxrsdj/image/upload/v1646714899/netliheart_ezlkim.svg"
          alt="Netlify Logo"
        /></a
      > for you!
    </footer>
  </main>
</Layout>

<style>
  html {
    background-color: unset;
  }
  .logo img {
    padding: 30px 0;
    width: 100%;
  }

  footer {
    bottom: 10px;
    font-family: Helvetica, Arial, sans-serif;
    margin: 0 auto;
    width: 100%;
    position: fixed;
    text-align: center;
  }

  footer img {
    width: 20px;
  }
  .feedback-form {
  margin: 40px 40px;
  min-width: 250px;
  width: 45%;
}
input,
textarea,
button {
  font-size: inherit;
  margin: 15px 0;
  padding: 12px 20px;
  width: 100%;
}
button {
  background-color: teal;
  border: 1px solid black;
  color: white;
  width: 50%;
}
.hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
</style>
