---
import Layout from '../components/Layout.astro';

let baseURL = import.meta.env.MODE === "development" ? "http://localhost:8888" : import.meta.env.DEPLOY_URL
console.log('Found URl:', baseURL)
let jokesEndpoint = new URL("/api/joke", baseURL)

let data = ''
try {
  let response = await fetch(jokesEndpoint)
  data = await response.text()
} catch {}

---

<Layout title="Astro Quickstart">
  <main>
    <div class="header">
      <div class="logo">
        <img
          src="https://res.cloudinary.com/dzkoxrsdj/image/upload/v1652291187/astro_1_c1yk5a.png"
        />
      </div>
    </div>
    <div class="jokes">
      <blockquote>{data}</blockquote>
    </div>
    <footer class="footer">
      Made with <a href="https://ntl.fyi/3P0dwBi"
        ><img
          src="https://res.cloudinary.com/dzkoxrsdj/image/upload/v1646714899/netliheart_ezlkim.svg"
          alt="Netlify Logo"
        /></a
      > for you!
    </footer>
  </main>
</Layout>

<style>
  html {
    background-color: unset;
  }
  .logo img {
    padding: 30px 0;
    width: 100%;
  }

  blockquote {
    border-left: 5px solid #ccc;
    padding: 0.5rem;
  }

  footer {
    bottom: 10px;
    font-family: Helvetica, Arial, sans-serif;
    margin: 0 auto;
    width: 100%;
    position: fixed;
    text-align: center;
  }

  footer img {
    width: 20px;
  }
</style>
