---
import Layout from '../components/Layout.astro';
import FeedbackForm from '../components/FeedbackForm.astro';
---

<Layout title="Astro Toolbox">
  <main>
    <div class="header">
      <div class="logo">
        <img
          src="https://user-images.githubusercontent.com/43764894/223557634-f62606c5-bdf9-476c-9264-0d3728189962.png"
          alt="Netlify and Astro.js logos"
        />
      </div>
    </div>
    <div class="intro">
      <p>
        Hi 👋! This template gives you an
        <a href="https://astro.build/">Astro</a> app with the scaffolding for
        <a href="https://ntl.fyi/3upc4Qo">Netlify Functions</a>, <a
          href="https://ntl.fyi/3bICRk6">Forms</a
        >, and
        <a href="https://ntl.fyi/3PcY8RH">Redirects</a>. Our aim was to give you
        the code you would need to hit the ground running with a few fun
        features.
      </p>

      <p>
        You can find the code for this project on GitHub at
        <a href="https://github.com/netlify-templates/astro-toolbox"
          >https://github.com/netlify-templates/astro-toolbox</a
        >! Happy coding!
      </p>
    </div>
    <FeedbackForm />
    <a class="jokes-link" href="/api/joke">
      <h3>Click here for function-loaded jokes!</h3>
    </a>
  </main>
</Layout>

<style>
  .logo img {
    padding: 30px 0;
    width: 100%;
  }

  main {
    padding: 2rem 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    max-width: 60ch;
    align-items: center;
  }

  footer {
    width: 100%;
    height: 100px;
    border-top: 1px solid #eaeaea;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  footer img {
    width: 20px;
  }
</style>
