---
import Layout from '../components/Layout.astro';
---

<Layout title="Astro Toolbox">
    <div class="container">
        <main>
          <h1>Submission Received!</h1>
          <p>Thank you for your feedback! Head back to the <a href="/">home page</a>.</p>
        </main>
    </div>
</Layout>
<style>
  html {
    margin: 0 30px;
  }
</style>