---

---

<div class="intro">
    <p>
      Hi 👋! This template gives you an
      <a href="https://astro.build/">Astro</a> app with the scaffolding for
      <a href="https://ntl.fyi/3upc4Qo"
        >Netlify Functions</a
      >, <a href="https://ntl.fyi/3bICRk6">Forms</a>, and
    <a href="https://ntl.fyi/3PcY8RH">Redirects</a>.
  </p>
  <p>Select one of the above buttons to view an example</p>
  </div>