---
const context = import.meta.env.CONTEXT
let baseURL = context == "deploy-preview" ? import.meta.env.DEPLOY_PRIME_URL : context == 'production' ? import.meta.env.URL : "http://localhost:8888"
let jokesEndpoint = new URL("/.netlify/functions/joke", baseURL)
let data = ''

try {
  let response = await fetch(jokesEndpoint)
  data = await response.text()
} catch {}
---
<div class="jokes">
 <blockquote>{data}</blockquote>
</div>